*{
    margin: 0px;
    padding: 0px;
    background-color:#1c1c1c;
    color: #fff;

}
.container > p{
    font-weight: 800;
    font-size: 50px;
    /* color: white; */
    margin-top: 30px;
    margin-bottom: 25px;
    font-family: cursive;
    justify-content: center;
    text-align: center;
}
.inputs{
    height: 200px;
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border: 2px solid white;
    padding: 15px;
    gap: 20px;
    font-size: 15px;
    font-weight: 600;
}
.inputs input{
    height: 25px;
    width: 245px;
    border: 0.5px solid white;
    border-radius: 3px;
}
.textfield{
    display: flex;
}
button{
    width: 130px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;    
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;

}
#result{
    height: 30px;
    width:175px;
    color: white;
}
#message{
    height: 30px;
    width: 175px;
    color: white;
}

.inputs p {
    margin-right: 10px; /* Add right margin to create space between p and input */
}

.inputs input {
    margin-bottom: 10px; /* Add bottom margin for spacing */
}

.info{
    font-size: 18px;
    font-weight: 400;
    font-family: cursive;
    margin: 40px;
    text-align: center;
    padding: 7px;
}
.info :first-child{
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: 700;
}